<h3>Contacto</h3>
<form #formContacto="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre">
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellido" >
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com" name="email" #email="ngModel" [(ngModel)]="usuario.email">
    </div>


    <div class="form-group">
        <label for="mensaje_usuario">Example textarea</label>
        <textarea class="form-control" id="mensaje_usuario" rows="3" name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje_usuario"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>