<div>

    <h4>{{title}}</h4>
    <div class="form-group">
        <p>Añadir marca:</p>
        <input type="text" [(ngModel)]="mi_marca">
    </div>
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <button class="btn btn-primary" (click)="getMarca()">Mostrar la Marca</button>
        </div>
        <div class="col-sm-2 col-lg-2">
            <button class="btn btn-primary" (click)="addMarca()">Agregar la Marca</button>
        </div>
    </div>
    <p>{{mi_marca}}</p>



    <p>Compra las zapatillas de las mejores marcas</p>
    <ul>
        <li *ngFor="let miMarca of marcas; let indice = index">{{miMarca}}
            <strong><a (click)="borrarMarca(indice)">Borrar</a></strong>
        </li>
    </ul>

    <p>Las zapatillas disponibles son:</p>
    <ul>
        <li *ngFor="let zapatilla of zapatillas">
            <span [ngStyle]="{'text-decoration' : !zapatilla.stock ? 'line-through' : 'none'}">
                {{zapatilla.marca}} {{zapatilla.nombre}}
                <strong>{{zapatilla.precio | currency:'CLP'}}</strong>
                <span *ngIf="zapatilla.precio <= 500"
                    [ngStyle]="{'font-weight': 'bold', 'color': color}">¡OFERTA!</span>
            </span>
        </li>
    </ul>


    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'yellow'">
            El color es <strong [ngStyle]="{'color': color}">amarillo</strong>
        </li>
        <li *ngSwitchCase="'red'">
            El color es <strong [ngStyle]="{'color': color}">rojo</strong>
        </li>
        <li *ngSwitchCase="'green'">
            El color es <strong [ngStyle]="{'color': color}">verde</strong>
        </li>
        <li *ngSwitchCase="'blue'">
            El color es <strong [ngStyle]="{'color': color}">azul</strong>
        </li>
    </ul>

    <p *ngIf="nombre">El parametro enviado es: {{nombre}}</p>
</div>